.current {
    background-color: #6171A3;
    background-image: url('../background_3.png');
    background-repeat: no-repeat;
    margin-left: 2em;
    padding: 0 1em;
    width: 46%;
    height: 15em;
    margin-right: 2em;
    border-radius: 1em;
    position: relative;
}

.current h2 {
    color: white;
    font-size: 1.2em;
}

.current div {
    display: flex;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 1em;
}

.time p {
    color: white;
}

.stopwatch {
    position: relative;
}

.stopwatch img {
    height: 8em;
    margin-bottom: -.5em;
}

.stopwatch p {
    position: absolute;
    top: 2.1em;
    left: 1em;
    width: 3.9em;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    text-align: center;
}

.xtick text{
    fill: black!important;
    font-size: 8px!important;
}

.gitscore {
    left: 1.6em!important;
    top: 1.2em!important;
    font-size: 1.4em!important;
}