.matchData {
    margin-left: 2em;
    width: 100%;
    margin-right: 1.5em;
    background-color: #253665;
    border-radius: 2em;
    padding: .5em 1.5em;
    height: 100%;
    background-image: url('../background_3.png');
}

.matchData h2 {
    font-size: 1.2em;
    color: white;
}

.matchData div:first-of-type {
    height: 83%;
    display: flex;
    justify-content: space-between;
}

.matchData div:first-of-type a {
    height: 100%;
    width: calc(95%/3);
    background-color: rgba(255,255,255,.1);
    border-radius: 1em;
    padding: 0 1em;
}

.matchData div:first-of-type a h3 {
    font-size: 1em;
    color: white;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.matchData div:first-of-type a h3::after {
    content: '?';
    background: transparent;
    margin-left: 1em;
    border: 1px solid white;
    border-radius: 50%;
    padding: .3em .6em;
    font-size: .5em;
    cursor: pointer;
}

.matchData div:first-of-type a:first-of-type p {
    color: white;
    font-size: .67em;
    margin-bottom: 0;
    margin-top: .4em;
    margin-right: 0;
}

.matchData div:first-of-type a:first-of-type p:nth-of-type(3) {
    margin-top: 2em;
}

.matchData div:first-of-type a:first-of-type div:first-of-type {
    position: relative;
    height: fit-content;
}

.matchData div:first-of-type a:first-of-type div:nth-of-type(2) {
    position: relative;
    height: fit-content;
}

.matchData div:first-of-type a:first-of-type div:nth-of-type(3) {
    position: relative;
}

.matchData div:first-of-type a:first-of-type div:nth-of-type(3) svg {
    position: absolute;
    top: -3.9em;
    overflow: visible;
}

.circleProgress {
    position: relative;
    text-align: center;
}

.circleOverflow {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 45px;
    margin-top: -5em;
}

.circleBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 0px solid transparent;
    border-bottom: 10px solid #E64E24;
}

.speed {
    position: absolute;
    left: calc(71%/2);
    top: 3.4em;
    color: black!important;
    z-index: 100;
    font-weight: bold;
    font-size: .8em!important;
}

.distance {
    width: 100%;
    text-align: center;
    position: relative;
}

.distance::before {
    content: '';
    width: 36%;
    position: absolute;
    left: 0;
    top: .45em;
    border-bottom: 2px solid #E64E24;
}

.distance::after {
    content: '';
    width: 36%;
    position: absolute;
    right: 0;
    top: .45em;
    border-bottom: 2px solid #E64E24;
}

.efd {
    width: 100%;
    position: relative;
}

.label {
    font-size: .6em;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: -.5em;
}

.label::before {
    content: '';
    width: 2em;
    height: 1.5em;
    border: 1px solid white;
    margin-right: .5em;
    background-color: #E64E24;
    border-radius: .3em;
}

.matchData div:first-of-type a:nth-of-type(2) circle {
    fill-opacity: .4;
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.matchData div:first-of-type a:nth-of-type(2) svg text {
    fill: black;
    font-size: 1.3em;
    transform: translate(0,.5em);
}

.matchData div:first-of-type a:nth-of-type(2) svg path {
    fill: #E64E24;
    fill-opacity: .5;
    stroke: transparent!important;
}

.matchData div:first-of-type a:nth-of-type(2) svg line {
    height: 3em;
}

.legend {
    display: flex;
    justify-content: center!important;
    height: fit-content!important;
    position: relative;
    margin-bottom: -1em;
}

.legend p {
    font-size: .6em;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-top: -.5em;
}

.legend p:first-of-type::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 1.5em;
    border: 1px solid white;
    background-color: #B0D5A0;
    left: -2.5em;
    border-radius: .3em;
}

.legend p:last-of-type {
    margin-left: 4em;
}

.legend p:last-of-type::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 1.5em;
    border: 1px solid white;
    background-color: #DC8A85;
    left: -2.5em;
    border-radius: .3em;
}


.passCompletion {
    position: relative;
    height: 83%;
    display: flex;
    justify-content: space-between;
}

.passCompletion img {
    position: absolute;
    z-index: 100;
    top: 4.9em;
    left: 2.6em;
    width: 6.2em;
}